<!-- <html> -->
<%- include('./partials/header') -%>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
          </div><!-- /.col -->
          <div class="col-sm-6">
            <!-- <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Layout</a></li>
              <li class="breadcrumb-item active">Top Navigation</li>
            </ol> -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- jquery validation -->
            <div class="form-group">
              <a href="/users" class="btn btn-info"><i class="fa fa-arrow-left"></i> Back to Home</a>
            </div>
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Kirim Pertanyaan </h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" method="post" action="/users/compose" id="quickForm">
                <div class="card-body">
                  <% if(message.sukses.length > 0) { %>
                  <div class="alert alert-info">
                    <label><%= message.sukses %></label>
                  </div>
                  <% } %>
                  <div class="form-group">
                    <label for="judul">Judul Pertanyaan</label>
                    <input type="text" name="judul" class="form-control" id="judul" placeholder="Judul">
                  </div>
                  <div class="form-group">
                    <label for="tanggal">Tanggal</label>
                    <input type="text" name="tanggal" class="form-control" id="tanggal" placeholder="Tanggal">
                  </div>
                  <div class="form-group">
                    <label for="question">Pertanyaan</label>
                    <textarea type="text" name="question" class="form-control" id="question" placeholder="isi pertanyaan"></textarea>
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit Pertanyaan</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
            </div>
          <!--/.col (left) -->
        </div>
        </div>
      </div>
    </div>
<script type="text/javascript">
  const arrbulan = ["Januari","Februari","Maret","April","Mei","Juni","Juli","Agustus","September","Oktober","November","Desember"];
  const date = new Date();
  const hari = date.getDay();
  const tgl = date.getDate();
  const bulan = date.getMonth();
  const tahun = date.getFullYear();
  const p   = tgl + " "+  arrbulan[bulan] + " " + tahun   ;
  document.getElementById('tanggal').value = p ;
</script>
  <!-- /.content-wrapper -->

<%- include('./partials/footer') -%>